{% comment %}
*
*   First the include captures the url and image in a
*   separate variable to make the code better readable.
*
*   These variables are widget_url and widget_image
*
{% endcomment %}

{% capture widget_url1 %}{% if include.widget.url1 == NULL %}{% elsif include.widget.url1 contains 'http' %}{{ include.widget.url1 }}{% else %}{{ site.url }}{{ site.baseurl }}{{ include.widget.url1 }}{% endif %}{% endcapture %}
{% capture widget_url2 %}{% if include.widget.url2 == NULL %}{% elsif include.widget.url2 contains 'http' %}{{ include.widget.url2 }}{% else %}{{ site.url }}{{ site.baseurl }}{{ include.widget.url2 }}{% endif %}{% endcapture %}

{% capture widget_image %}{% if include.widget.image contains 'http' %}{{ include.widget.image }}{% else %}{{ site.urlimg }}{{ include.widget.image }}{% endif %}{% endcapture %}


<div class="medium-6 columns frontpage-widget">
	{% if include.widget.video %}
		{{ include.widget.video }}
	{% elsif widget_url1 == empty and widget_url2 == empty %}
		{% if widget_image != empty %}<img src="{{ widget_image }}" alt="" />{% endif %}
    {% else %}
		<a href="{% if widget_url1 != empty %}{{ widget_url1 }}{% else %}{{ widget_url2 }}{% endif %}">
			{% if widget_image != empty %}<img src="{{ widget_image }}" alt="" />{% endif %}
		</a>
	{% endif %}
	<!-- <h2 class="font-size-h3 t10">{% if widget_url1 != empty %}<a href="{{ widget_url1 }}">{{ include.widget.text1 }}</a>{% else %}<p>{{ include.widget.text1 }}</p>{% endif %}</h2>
	<h2 class="font-size-h3 t10">{% if widget_url2 != empty %}<a href="{{ widget_url2 }}">{{ include.widget.text2 }}</a>{% else %}<p>{{ include.widget.text2 }}</p>{% endif %}</h2> -->

	<!-- {% if include.widget.text != empty %}<p>{{ include.widget.text }}</p>{% endif %} -->
	{% if widget_url1 != empty %}<p><a class="button tiny radius" href="{{ widget_url1 }}">{{ include.widget.text1 }}</a></p>{% endif %}
	{% if widget_url2 != empty %}<p><a class="button tiny radius" href="{{ widget_url2 }}">{{ include.widget.text2 }}</a></p>{% endif %}
</div>